<div class="row projects" ng-controller="PrivateBookingController " ng-init="init()" >
   <div class="col-lg-12 hidden-xs">
	   <div class="hpanel">
	   		<div class="panel-heading hbuilt">
	   		  <div class="row">
			   		    <div class="col-sm-8">
				   		    <form class="form-horizontal">
								<div class="form-group">
						   		      <div class="col-sm-6">
						   		      <input class="form-control" type="date" ng-model="dateOfQuery" ng-change="changeQueryDate()">
						   		   	  </div>
						   		   	   <div class="col-sm-6">
						   		   	  <select class="form-control" ng-model="dayDuration" ng-change="changeDayDuration()">
										  		<option value="1">{{'daily'|translate}}</option>
										  		<option value="7">{{'weekly'|translate}}</option>
										  		<option value="30">{{'monthly'|translate}}</option>
									  </select>
									  </div>
								</div>
							</form>
	   		    		</div>
	   		    		<div class="col-sm-4">
	   		    			<form action="">
	                            <div class="input-group">
	                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
									<span class="input-group-btn">
										<button class="btn btn-md btn-default" type="button">
	                                        <span class="fa fa-search"></span>
	                                    </button>
									</span>
	                            </div>
	                        </form>
	   	 			  	</div>
	   			  </div>
	   		 
	   		</div>
	        <div class="panel-body">
	          <table class="table  table-static">
	            <tbody>
	             <tr ng-repeat="sct in scheduleTimeObjs">
	             <td class="rotate" style="width: 10px;vertical-align: middle;text-align: center; ">{{(sct.calendarDate|date:dateFormat) +' '+(sct.calendarDateName|translate) }}</td>
	             <td colspan="{{times.length+1}}">
	              <table class="table table-stripe table-bordered " style="table-layout: fixed;">
	                <thead >
		              <th width="10%">{{'instructor'|translate}}</th>
		              <th width="5%" ng-repeat="time in times">{{time}}</th>
		            </thead>
	                <tr ng-repeat="staff in sct.staffs | filter :{userName : search} ">
	                  <td style="height: 40px"  width="5%" >{{staff.userName}}</td>
	                  <td colspan="{{sctp.scheduleFactories!=null?spanSize:1}}" class="{{sctp.statuTp=='1'?'td-primary-2':(sctp.statuTp=='2'?'td-warning':'')}}"  style="height: 40px;text-align:center;vertical-align:top; "   width="5%"  ng-repeat="sctp in staff.scheduleTimePlans"   ng-mouseover="overTimePlan(sctp)">
		                  <div ng-if="sctp.scheduleFactories!=null" ng-drag="true" ng-drag-data="sctp" data-allow-transform="true" style="height:40px;overflow: hidden;background-color: {{sctp.statuTp=='1'?'':(sctp.statuTp=='2'?'':(sctp.scheduleFactories.length>1?'rgba(200, 100, 0, 0.1)':  ' rgba(0, 255, 0, 0.1)'))}}" class="form-horizontal" >
		                  	 <small >{{sctp.planCount+'/'+sctp.schCount}}</small>
		                  	<small ng-show="selectedTime!=sctp.planStartDate || selectedStaffId!=staff.userId" ng-repeat="scf in sctp.scheduleFactories">{{scf.user.userName+' '}}</small>
		                  	<i ng-show="selectedTime==sctp.planStartDate && selectedStaffId==staff.userId" class="pe-7s-ribbon ibtn text-primary2" ng-click="showOldTimePlan(sctp,$event)"  data-toggle="modal" data-target="#oldBookedModel"></i>
		                 </div>
		                  
		                  <div style="height: 40px;width:auto;"  ng-if="sctp.scheduleFactories==null" ng-drop="true" ng-drop-success="onDropComplete($data,$event,sctp)" >
		                  	<i ng-show="selectedTime==sctp.planStartDate && selectedStaffId==staff.userId" class="pe-7s-plus ibtn " ng-click="showTimePlan(sctp,$event)"  data-toggle="modal" data-target="#myModal"></i>
		                  </div>
	                 </td>
	               </tr>
	               </table>
	             </td>
	             </tr>
	            </tbody> 
	         </table>
	       </div>
	</div>
   
   </div>
   
   
   
    <div class="col-lg-12 visible-xs">
	   <div class="hpanel">
	   		<div class="panel-heading hbuilt">
	   		<input class="form-control" type="date" ng-model="dateOfQuery" ng-change="changeQueryDate()">
	   		<select class="form-control" ng-options="instructor as instructor.userName for instructor in instructors" ng-model="mobileInstructor" ng-change="changeStaffForMobile()"></select>
	   		   
	   		</div>
	        <div class="panel-body">
	          <table class="table table-striped table-static">
	            <tbody>
	            <tr ng-repeat="sctp in mobileTimeObjs.scheduleTimePlans ">
	            	<td>
	                 {{millisToUTCDate(sctp.planStartDate) |date:timeFormat}}
	                </td>
	                <td colspan="{{sctp.scheduleFactories!=null?spanSize:1}}" class="{{sctp.statuTp=='1'?'td-primary-2':(sctp.statuTp=='2'?'td-warning':'')}}"  style="height: 30px;text-align:center;vertical-align:middle "   width="100%"  ng-mouseover="overTimePlan(sctp)">
		                  <div ng-if="sctp.scheduleFactories!=null" ng-drag="true" ng-drag-data="sctp" data-allow-transform="true" style="height:25px;overflow: hidden;">
		                  	<label ng-show="selectedTime!=sctp.planStartDate || selectedStaffId!=staff.userId" ng-repeat="scf in sctp.scheduleFactories">{{scf.user.userName }}</label>
		                  	<label ng-show="selectedTime!=sctp.planStartDate || selectedStaffId!=staff.userId" ng-repeat="scf in sctp.scheduleFactories" class="pull-right">{{sctp.planCount+'/'+sctp.schCount}}</label>
		                  	<i ng-show="selectedTime==sctp.planStartDate" class="pe-7s-ribbon ibtn text-primary2" ng-click="showOldTimePlan(sctp,$event)"  data-toggle="modal" data-target="#oldBookedModel"></i>
		                  </div>
		                  <div style="height: 30px;width:100%;"  ng-if="sctp.scheduleFactories==null" ng-drop="true" ng-drop-success="onDropCompleteForMobile($data,$event,sctp)" >
		                  	<i ng-show="selectedTime==sctp.planStartDate" class="pe-7s-plus ibtn " ng-click="showTimePlan(sctp,$event)"  data-toggle="modal" data-target="#myModal"></i>
		                  </div>
	                 </td>
	            </tr>
	            </tbody> 
	         </table>
	       </div>
	</div>
   
   </div>
   
   
   
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <div class="row">
                        <div class="col-sm-6">
                        	<h4 class=" modal-title">{{selectedStaff.userName+' '+selectedStaff.userSurname}}</h4>
                        </div>
                        <div class="col-sm-6">
                        	<h4 class="modal-title pull-right">{{millisToUTCDate(selectedTime)|date:dateTimeFormat}}</h4>
                        </div>
                        </div>
                    </div>
                    <div class="modal-body">
                         <div class="input-group" ng-show="addNewUser">
                          <input type="text" ng-model="searchUsername" class="form-control" ng-keypress="searchUser($event)"> 
                            <span class="input-group-btn" > 
                                <button type="button" class="btn btn-primary" ng-show="addUserReady" ng-click="addUser()">{{'addMember'|translate}}</button> 
                                <button type="button" class="btn btn-default" ng-show="!addUserReady">{{'search'|translate}}</button> 
                            </span>
                         </div>
                         <div class="hpanel">
	                         <div class="hpanel-body">
		                         <table ng-show="userList.length>0" class="table table-condensed table-striped">
		                           <tr ng-repeat="user in userList" ng-mouseover="headerClass='label-warning'" ng-mouseout="headerClass=''">
		                             <td  ng-class="headerClass" ng-click="selectUser(user)">{{user.userName+' '+user.userSurname}}</td>
		                           </tr>
		                         </table>
	                         </div>
                         </div>
                         
                         <div class="row">
                         <div class="{{(newSaleFlag)?'col-sm-8':'col-sm-12'}}">
	                             <div class="hpanel hgreen" ng-show="!newSaleFlag && selectedUserList.length>0" style="margin-bottom: 5px">
	                                <div class="panel-heading hbuilt">
	                                 <h5>{{'saledPackets'|translate}}</h5>
	                               </div>
		                            <div class="panel-body">
		                              <table  class="table table-condensed table-striped">
		                                 <thead>
		                                   <th>{{'progName'|translate}}</th>
		                                   <th class="hidden-xs">{{'classCount'|translate}}</th>
		                                   <th class="hidden-xs">{{'programClassLeftCount'|translate}}</th>
		                                   <th class="hidden-xs">{{'pStatu'|translate}}</th>
		                                   <th>{{'execution'|translate}}</th>
		                                 </thead>
		                                 <tbody>
		                                   <tr ng-repeat="salePacket in saledPackets">
		                                     <td>{{salePacket.programFactory.progName}}</td>
		                                     <td class="hidden-xs">{{salePacket.progCount}}</td>
		                                     <td class="hidden-xs">{{salePacket.progCount-salePacket.scheduleFactory.length}}</td>
		                                     <td class="hidden-xs">{{(salePacket.progCount-salePacket.scheduleFactory.length==0)?('finishedPacket'|translate):('continuePacket'|translate)}}</td>
		                                     <td ><button type="button" class="btn btn-success btn-xs" ng-click="continiueSchedulePlan(salePacket)" ng-show="(salePacket.progCount-salePacket.scheduleFactory.length>0)">{{'select'|translate}}</button> </td>
		                                  </tr>
		                                 </tbody>
		                              </table>
		                            </div>
		                         </div>
	                             <div class="hpanel" ng-show="newSaleFlag && !showPeriod && selectedUserList.length>0"  style="margin-bottom: 5px">
	                               <div class="panel-heading hbuilt">
	                                 <h4>{{saleTitle|translate}}</h4>
	                               </div>
		                           <div class="panel-body" style="padding: 10px">
		                             
		                               <form class="form-horizontal">
										<div class="form-group">	
											<label class="col-sm-4 control-label" >{{'progType'|translate}}</label>
											<div class="col-sm-8">
												<select class="form-control" ng-disabled="!noSaledFlag" ng-model="progType" ng-change="changeTypeOfProgram()">
												  		<option value="0">{{'pleaseSelect'|translate}}</option>
												  		<option value="pp">{{'personal_program'|translate}}</option>
												  		<option value="pc">{{'class_program'|translate}}</option>
												</select>
											</div>
										</div>	
										<div class="form-group" ng-show="programSelected">	
											<label class="col-sm-4 control-label" >{{'progName'|translate}}</label>
											<div class="col-sm-8">
												<select class="form-control" ng-disabled="!noSaledFlag"  ng-model="progId">
												  		<option value="0">{{'pleaseSelect'|translate}}</option>
														<option ng-repeat="program in programs"
															value="{{program.progId}}">{{program.progName }}</option>
												</select>
											</div>
										</div>	
										<div class="form-group" ng-show="programSelected">	
											<label class="col-sm-4 control-label" >{{'comment'|translate}}</label>
											<div class="col-sm-8">
											<textarea rows="2" class="form-control" ng-model="scheduleTimePlan.tpComment"></textarea>
										    </div>
										</div>
										
										<div class="form-group" ng-show="programSelected">
											<div class="checkbox-inline">
												<input type="checkbox" class="i-checks" checked > {{'singleClass' |translate}}
												<p class="help-block small">{{'singleClassHint' | translate}}</p>
											</div>
										</div>
										
										
										</form>
		                           </div>
		                         </div>
		                         <div class="hpanel " ng-show="showPeriod && programSelected">
	                               <div class="panel-heading hbuilt">
	                                 <small>{{'periodTitle'|translate}}</small>
	                               </div>  
	                               <div class="panel-body">
		                         <div class="row">
		                             <div class="form-group" ng-show="programSelected">	
											<label class="col-sm-4 control-label" >{{'progCount'|translate}}</label>
											<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="periodCount">
											<p class="help-block small">{{'progCountHint' | translate}}</p>
										    </div>
										</div>
		                           <hr/>
										<div class="col-sm-4">
											<label>{{'monday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="monday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
							
							
										</div>
										<div class="col-sm-4">
											<label>{{'tuesday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="tuesday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
							
										</div>
										<div class="col-sm-4">
											<label>{{'wednesday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="wednesday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
										</div>
										<div class="col-sm-4">
											<label>{{'thursday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="thursday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
										</div>
									
						
								
									<div class="col-sm-4">
										<label>{{'friday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="friday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
						
									<div class="col-sm-4">
										<label>{{'saturday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="saturday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
									<div class="col-sm-4">
										<label>{{'sunday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="sunday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
								   </div>
		                         </div>
		                         <div class="panel-footer">
		                          <button type="button" class="btn btn-default btn-sm" ng-click="setPeriodCancel()">{{'cancel'|translate}}</button>
		                          <button type="button" class="btn btn-success btn-sm pull-right" ng-click="setPeriod()">{{'confirm'|translate}}</button>
		                         </div>
		                       </div>  
		                         
		                         
	                        
                         </div>
                         <div class="col-sm-4"  ng-show="selectedUserList.length>0 && newSaleFlag">
                                 <div class="hpanel">
                                  <div class="panel-heading hbuilt">
                                     <div class="row">
                                       <div class="col-sm-9"><h4>{{'selectedMembers'|translate}}</h4></div>
                                       <div class="col-sm-3">
                                        <i class="pe-7s-add-user ibtn fa-4x text-success" ng-click="addMoreUser()"></i>
                                       </div>
                                     
                                     </div>
	                                 
	                               </div>
			                         <div class="panel-body" style="padding: 10px">
			                            <table  class="table table-condensed table-striped">
				                           <tr ng-repeat="user in selectedUserList" ng-mouseover="headerClass='label-danger'">
				                             <td width="90%" ><label> {{user.userName+' '+user.userSurname}}</label></td>
				                             <td  width="10%"><i class="pe-7s-close iBtn" ng-click="removeSelectedUser(user)"></i>  </td>
				                           </tr>
				                         </table>
				                         
				                         <div class="form-group" ng-show="programSelected && period" style="max-height: 100px;overflow-y:auto">
										  <table class="table table-striped">
										  <tr ng-repeat="day in days">
										    <td><small>{{day.progDay==1?('monday'|translate):(day.progDay==2?('tuesday'|translate):(day.progDay==3?('wednesday'|translate): (day.progDay==4?('thursday'|translate):(day.progDay==5?('friday'|translate):(day.progDay==6?('saturday'|translate): (day.progDay==7?('sunday'|translate):'')  ) )) ) )}}
										    </small>
										    </td>
										    <td><small> {{day.progStartTime}} </small></td>
										    </tr>
										  </table>
										</div>
			                         </div>
			                     </div>
	                       
                         </div>
                       </div>  
                         
                    </div>
                    <div class="modal-footer" >
                         <button type="button" class="btn btn-default pull-left" ng-show="retryFlag" ng-click="initTimePlan()">{{'retry'|translate}}</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">{{'close'|translate}}</button>
                         <button type="button" class="btn btn-primary" ng-click="letsCreatePlan()" ng-show="programSelected && progId!='0'" >{{'save'|translate}}</button>
                      
                         
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        <div class="modal fade" id="oldBookedModel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <div class="row">
                        <div class="col-sm-6">
                        	<h4 class=" modal-title">{{selectedStaff.userName+' '+selectedStaff.userSurname}}</h4>
                        </div>
                        <div class="col-sm-6">
                        	<h4 class="modal-title pull-right">{{millisToUTCDate(selectedTime)|date:dateTimeFormat}}</h4>
                        </div>
                        </div>
                    </div>
                    <div class="modal-body">
                         <div class="input-group" ng-show="addNewUser">
                          <input type="text" ng-model="searchUsername" class="form-control" ng-keypress="searchUser($event)"> 
                            <span class="input-group-btn" > 
                                <button type="button" class="btn btn-primary" ng-show="addUserReady" ng-click="addUser()">{{'addMember'|translate}}</button> 
                                <button type="button" class="btn btn-default" ng-show="!addUserReady">{{'search'|translate}}</button> 
                            </span>
                         </div>
                         <div class="hpanel">
	                         <div class="hpanel-body">
		                         <table ng-show="userList.length>0" class="table table-condensed table-striped">
		                           <tr ng-repeat="user in userList" ng-mouseover="headerClass='label-warning'" ng-mouseout="headerClass=''">
		                             <td  ng-class="headerClass" ng-click="selectUser(user)">{{user.userName+' '+user.userSurname}}</td>
		                           </tr>
		                         </table>
	                         </div>
                         </div>
                         
                         <div class="row">
                         <div class="{{(newSaleFlag)?'col-sm-8':'col-sm-12'}}">
	                             
	                             <div class="hpanel" ng-show="newSaleFlag && !showPeriod && selectedUserList.length>0"  style="margin-bottom: 5px">
	                               <div class="panel-heading hbuilt">
	                                 <h5>{{saleTitle|translate}}</h5>
	                               </div>
		                           <div class="panel-body" style="padding: 10px">
		                             
		                               <form class="form-horizontal">
										
										<div class="form-group">	
											<label class="col-sm-4 control-label" >{{'progName'|translate}}</label>
											<div class="col-sm-8">
											   <input class="form-control" type="text" ng-model="progName" disabled="disabled">
											</div>
										</div>	
										<div class="form-group">	
											<label class="col-sm-4 control-label" >{{'comment'|translate}}</label>
											<div class="col-sm-8">
											<textarea rows="2" class="form-control" ng-model="scheduleTimePlan.tpComment"></textarea>
										    </div>
										</div>
										
										
										<div class="form-group" ng-show="programSelected">
											<div class="checkbox">
												<input type="checkbox" class="i-checks" checked > {{'singleClass' |translate}}
												<p class="help-block small">{{'singleClassHint' | translate}}</p>
											</div>
										</div>
										
										
										
										<div class="float-e-margins">
											<button class="btn btn-primary btn-sm " type="button" ng-click="cancelTP()" title="{{cancelTimePlan|translate}}"><i class="fa fa-check"></i> {{cancelBtn|translate}}</button>
							                <button class="btn btn-success btn-sm " type="button" ng-click="postponeTP()" title="{{postponeTimePlan|translate}}"><i class="fa fa-upload"></i> <span class="bold">{{postponeBtn|translate}}</span></button>
							                <button class="btn btn-danger btn-sm" type="button" ng-click="deleteTP()" title="{{}}" data-dismiss="modal"><i class="fa fa-trash-o"></i> <span class="bold">{{'deleteLbl'|translate}}</span></button>
							                <button class="btn btn-danger btn-sm" type="button" ng-click="findBookingByTimePlan()" title="{{}}"><i class="fa fa-trash-o"></i> <span class="bold">{{'detail'|translate}}</span></button>
							                
							                
							            </div>
										</form>
									 </div>
		                         </div>
	                        
	                        
	                        
	                        
	                        
	                        <div class="hpanel" ng-show="showPeriod && programSelected"  style="margin-bottom: 5px">
	                               <div class="panel-heading hbuilt">
	                                 <small>{{'periodTitle'|translate}}</small>
	                               </div>  
	                               <div class="panel-body" style="padding: 10px">
		                         <div class="row">
		                             <div class="form-group" ng-show="programSelected">	
											<label class="col-sm-4 control-label" >{{'progCount'|translate}}</label>
											<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="periodCount">
											<p class="help-block small">{{'progCountHint' | translate}}</p>
										    </div>
										</div>
		                           <hr/>
										<div class="col-sm-4">
											<label>{{'monday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="monday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
							
							
										</div>
										<div class="col-sm-4">
											<label>{{'tuesday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="tuesday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
							
										</div>
										<div class="col-sm-4">
											<label>{{'wednesday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="wednesday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
										</div>
										<div class="col-sm-4">
											<label>{{'thursday'|translate}}*</label> <select
												class="form-control input-md font-light" ng-model="thursday">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option ng-repeat="time in times">{{time}}</option>
											</select>
										</div>
									
						
								
									<div class="col-sm-4">
										<label>{{'friday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="friday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
						
									<div class="col-sm-4">
										<label>{{'saturday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="saturday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
									<div class="col-sm-4">
										<label>{{'sunday'|translate}}*</label> <select
											class="form-control input-md font-light" ng-model="sunday">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="time in times">{{time}}</option>
										</select>
									</div>
								   </div>
		                         </div>
		                         <div class="panel-footer">
		                          <button type="button" class="btn btn-default btn-sm" ng-click="setPeriodCancel()">{{'cancel'|translate}}</button>
		                          <button type="button" class="btn btn-success btn-sm pull-right" ng-click="setPeriod()">{{'confirm'|translate}}</button>
		                         </div>
		                       </div>  
		                         
	                        
                         </div>
                         <div class="col-sm-4"  >
                                 <div class="hpanel">
                                  <div class="panel-heading hbuilt">
                                     <div class="row">
                                       <div class="col-sm-9"><h4>{{'selectedMembers'|translate}}</h4></div>
                                       <div class="col-sm-3">
                                        <i class="pe-7s-add-user ibtn fa-4x text-success" ng-click="addMoreUser()"></i>
                                       </div>
                                     
                                     </div>
	                                 
	                               </div>
			                         <div class="panel-body">
			                            <table  class="table table-condensed table-striped">
				                           <tr ng-repeat="user in selectedUserList" ng-mouseover="headerClass='label-danger'">
				                             <td width="90%" ><label> {{user.userName+' '+user.userSurname}}</label></td>
				                             <td  width="10%"><i class="pe-7s-close iBtn" ng-click="removeSelectedUser(user)"></i>  </td>
				                           </tr>
				                         </table>
				                         
				                         <div class="form-group" ng-show="programSelected && period" style="max-height: 100px;overflow-y:auto">
										  <table class="table table-striped">
										  <tr ng-repeat="day in days">
										    <td><small>{{day.progDay==1?('monday'|translate):(day.progDay==2?('tuesday'|translate):(day.progDay==3?('wednesday'|translate): (day.progDay==4?('thursday'|translate):(day.progDay==5?('friday'|translate):(day.progDay==6?('saturday'|translate): (day.progDay==7?('sunday'|translate):'')  ) )) ) )}}
										    </small>
										    </td>
										    <td><small> {{day.progStartTime}} </small></td>
										    </tr>
										  </table>
										</div>
				                         
				                         
			                         </div>
			                     </div>
	                       
                         </div>
                       </div>  
                         
                    </div>
                    <div class="modal-footer" >
                    
                         <label class="label label-success pull-left">  {{('plannedClassCount'|translate)+': '+ scheduleTimePlan.planCount+'/'+scheduleTimePlan.schCount}}</label>
                    
                    
                         <button type="button" class="btn btn-default" data-dismiss="modal">{{'close'|translate}}</button>
                         <button type="button" class="btn btn-primary" ng-click="letsCreatePlan()" >{{'save'|translate}}</button>
                      
                         
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        <div class="modal fade" id="detailPlanModel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <div class="row">
                        <div class="col-sm-12 text-center">
                        	<h4 class=" modal-title">{{scpd.userName+' '+scpd.userSurname}}</h4>
                        </div>
                        
                        </div>
                    </div>
                    <div class="modal-body" style="max-height: 450px;min-height:450px;overflow-y:auto ">
                         
                         <table class="table table-striped"  >
                           <thead>
                             <tr>
                               <th>{{'instructor'|translate}}</th>
                               <th>{{'startDate'|translate}}</th>
                               <!-- <th>{{'endDate'|translate}}</th> -->
                               <th class="hidden-xs">{{'day'|translate}}</th>
                               <th  class="hidden-xs">{{'packetParticipant'|translate}}</th>
                               <th  class="hidden-xs">{{'pStatu'|translate}}</th>
                               <th  >{{'executions'|translate}}</th>
                              
                             </tr>
                           </thead>
                           <tbody>
                            <tr ng-repeat="stp in scpd.scheduleTimePlans">
                             <td class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}}">
                                <select class="form-control" ng-options="instructor.userId as instructor.userName for instructor in instructors " ng-model="stp.schtStaffId" ></select>
	   		
                             </td>
                             <td class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}}">
                             
                             
                             <div class="form-group">
                               <div class="col-sm-10">
                             	<input type="date" ng-model="stp.planStartDate" class="form-control input-sm">
                             </div>
                              <div class="col-sm-8">
                             	<select class="form-control input-sm" ng-options="time as time for time in times" ng-model="stp.planStartDateTime"></select>
                             	</div>
                             </div>
                            </td>
                             <!-- <td class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}}">{{stp.planEndDate|date:dateFormat}}</td> -->
                             <td class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}} hidden-xs">{{stp.planDayName|translate}}</td>
                             <td  class="hidden-xs">
                             <table  class="table table-striped">
                               <tr ng-repeat="sf in stp.scheduleFactories">
                                   <td>{{sf.user.userName+' '+sf.user.userSurname}}</td>
                               </tr>
                             </table>
                             </td>
                             
                             <td  class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}} hidden-xs">{{stp.statuTp=='1'?('canceled'|translate):(stp.statuTp=='2'?('postponed'|translate):'')}}</td>
                             <td>
                                   <div class="float-e-margins">
											<button class="btn btn-primary btn-sm " type="button" ng-click="saveTPL(stp)" ><i class="fa fa-check"></i> {{('save'|translate)}}</button>
							                
											<button class="btn btn-primary btn-sm " type="button" ng-click="cancelTPL(stp)" title="{{cancelTimePlan|translate}}"><i class="fa fa-check"></i> {{stp.statuTp=='1'?('backToCancel'|translate):('cancel'|translate)}}</button>
							                <button class="btn btn-success btn-sm " type="button" ng-click="postponeTPL(stp)" title="{{postponeTimePlan|translate}}"><i class="fa fa-upload"></i> <span class="bold">{{stp.statuTp=='2'?('backToCancel'|translate):('postpone'|translate)}}</span></button>
							                <button class="btn btn-danger btn-sm" type="button" ng-click="deleteTPL(stp)" title="{{}}"><i class="fa fa-trash-o"></i> <span class="bold">{{'deleteLbl'|translate}}</span></button>
							       </div>
                             </td>
                             
                             
                           </tr>
                           </tbody>
                         
                         </table>
                         
                    </div>
                    <div class="modal-footer" >
                         <button type="button" class="btn btn-default" data-dismiss="modal">{{'close'|translate}}</button>
                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#printDetailPlanModel"  data-dismiss="modal" >{{'Print'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        <div  id="printDetailPlanModel" class="modal fade"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <div class="row">
                        <div class="col-sm-12 text-center">
                        	<h4 class=" modal-title">{{scpd.userName+' '+scpd.userSurname}}</h4>
                        	
                        	
                        	
                        	
                        </div>
                        
                        </div>
                    </div>
              
              
              
                <div class="modal-body">
          			<table class="table table-striped"  >
                           <thead>
                             <tr>
                               <th>{{'instructor'|translate}}</th>
                               <th>{{'startDate'|translate}}</th>
                               <!-- <th>{{'endDate'|translate}}</th> -->
                               <th class="hidden-xs">{{'day'|translate}}</th>
                               <th  class="hidden-xs">{{'packetParticipant'|translate}}</th>
                               <th  class="hidden-xs">{{'pStatu'|translate}}</th>
                             </tr>
                           </thead>
                           <tbody>
                            <tr ng-repeat="stp in scpd.scheduleTimePlans">
                             <td >
                                <label>{{stp.staff.userName+' '+stp.staff.userSurname}}</label>
                             </td>
                             <td>
                               <label>{{(stp.planDayName|translate)+', '+(stp.planStartDate|date:dateTimeFormat)}}    </label>                         
                            </td>
                            <td class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}} hidden-xs">{{stp.planDayName|translate}}</td>
                             <td><ul><li ng-repeat="sf in stp.scheduleFactories">{{sf.user.userName+' '+sf.user.userSurname}}</li></ul> </td>
                             <td  class="{{stp.statuTp=='1'?'td-primary-2':(stp.statuTp=='2'?'td-warning':'')}} hidden-xs">{{stp.statuTp=='1'?('canceled'|translate):(stp.statuTp=='2'?('postponed'|translate):('normal'|translate))}}</td>
                           </tr>
                           </tbody>
                         
                         </table>
                         
                         
                         <button type="button" class="btn btn-primary" ng-click="printPlan()"  >{{'Print'|translate}}</button>
                  </div>  
                   </div>      
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
 </div>