<div class="row projects" ng-controller="PrivateWeeklyBookingController " ng-init="init()" >


   <div class="col-lg-12 ">
	   <div class="hpanel">
		<div class="panel-heading hbuilt">
	   		  <div class="row">
			   		    <div class="col-sm-6">
				   		    <form class="form-horizontal">
								<div class="form-group">
						   		      <div class="col-sm-6">
						   		      <input class="form-control" type="date" ng-model="dateOfQuery" ng-change="changeQueryDate()">
						   		   	  </div>
						   		   	   <div class="col-sm-6">
						   		   	   
						   		   	   <select class="form-control" ng-options="instructor as instructor.userName+' '+instructor.userSurname for instructor in instructors" ng-model="instructor" ng-change="changeInstructor()">
						   		   	     <option value="">{{'pleaseSelect'|translate}}</option>
						   		   	   
						   		   	   </select>
	   		
						   		   	   
						   		   	  </div>
								</div>
							</form>
	   		    		</div>
	   		    		<div class="col-sm-4">
	   		    			
	   	 			  	</div>
	   			</div>
	   	</div>
	   	<div class="panel-body hidden-xs" ng-show="instructor!=null">
	          
	                    <table  class="table table-static" border="1" >
	                       
	                      <thead>
	                        <th style="width: 5%"></th>
	                        <th  ng-repeat="sTimeobj in sTimeObjs[0].scheduleTimeObjs" style="text-align: center;">
	                           {{(sTimeobj.calendarDate|date:dateFormat)+', '+(sTimeobj.calendarDateName|translate)}}
	                        </th>
	                      </thead>
	                      
	                      <tbody>
	                       
	                     
	                       <tr ng-repeat="sTimeobj in sTimeObjs" style="max-height: 150px;min-height: 150px;">
                            <td  style="text-align: center;">
                            		{{sTimeobj.time}}
							 </td>
							 <td ng-repeat="stp in sTimeobj.scheduleTimeObjs"  style="text-align: center;">
	                            <div ng-if="(stp.scheduleTimePlan!=null)"  >
	                                  <label class="text-primary control-label col-sm-12">{{stp.scheduleTimePlan.programFactory.progName }}</label> 
	                                  <label class="text-primary  col-sm-12">{{stp.scheduleTimePlan.planCount+'/'+stp.scheduleTimePlan.schCount }}</label> 
	                                   
		                               <ul class="h-list" style="list-style-type: none;">
		                                <li ng-repeat="scf in stp.scheduleTimePlan.scheduleFactories">{{scf.user.userName}}</li>
		                              </ul>
		                        </div>
	                         </td> 
                           </tr>
                            </tbody>
                         </table>
	                
	     </div>
	     
	     
	     
	     <div class="panel-body visible-xs" ng-show="instructor!=null">
	          
	                    <table  class="table table-static" border="1" >
	                       
	                      <thead>
	                        <th style="width: 20%"></th>
	                        <th  ng-repeat="sTimeobj in sTimeObjs[0].scheduleTimeObjs" ng-if="$index<4" style="text-align: center;">
	                           {{(sTimeobj.calendarDate|date:dateShortFormat)+', '+(sTimeobj.calendarDateName|translate)}}
	                        </th>
	                      </thead>
	                      
	                      <tbody>
	                       
	                     
	                       <tr ng-repeat="sTimeobj in sTimeObjs"  style="max-height: 150px;min-height: 150px;">
                            <td  style="text-align: center;" >
                            		{{sTimeobj.time}}
							 </td>
							 <td ng-repeat="stp in sTimeobj.scheduleTimeObjs" ng-if="$index<4"  style="text-align: center;">
	                            <div ng-if="(stp.scheduleTimePlan!=null)"  >
	                                  <label class="text-primary control-label col-sm-12">{{stp.scheduleTimePlan.programFactory.progShortName }}</label> 
	                                  <label class="text-primary  col-sm-12">{{stp.scheduleTimePlan.planCount+'/'+stp.scheduleTimePlan.schCount }}</label> 
	                                   
		                               <ul class="h-list" style="list-style-type: none;">
		                                <li ng-repeat="scf in stp.scheduleTimePlan.scheduleFactories">{{scf.user.userName}}</li>
		                              </ul>
		                        </div>
	                         </td> 
                           </tr>
                            </tbody>
                         </table>
	                
	     </div>
	   		
	</div>
		<div class="panel-footer" ng-show="instructor!=null">
		<button type="button" class="btn btn-success" ng-click="sendMail()">{{'sendMail'|translate}}</button>
		</div>
	</div>


  
			<div class="panel-body" ng-show="false" id="mailTable">
 				<table   role='presentation' align='center' class="table table-static" cellspacing="0" cellpadding="0" align="center" width="100%" style="margin: auto;"  border="1px solid black " width='100%' >
	                       
	                      <thead>
	                      <tr>
	                        <th ></th>
	                        <th class="medium"  ng-repeat="sTimeobj in sTimeObjs[0].scheduleTimeObjs" style="text-align: center;">
	                           {{(sTimeobj.calendarDate|date:dateShortFormat)+', '+(sTimeobj.calendarDateName|translate)}}
	                        </th>
	                       </tr>
	                      </thead>
	                      
	                      <tbody>
	                       
	                     
	                       <tr ng-repeat="sTimeobj in sTimeObjs" style="max-height: 150px;min-height: 150px;">
                            <td class="small"  style="text-align: center;">
                            		{{sTimeobj.time}}
							 </td>
							 <td class="small"  ng-repeat="stp in sTimeobj.scheduleTimeObjs"  style="text-align: center;">
	                            <div ng-if="(stp.scheduleTimePlan!=null)"  >
	                                  <label class="text-primary col-sm-12">{{stp.scheduleTimePlan.programFactory.progShortName }}</label>  
	                                  <label class="text-primary  col-sm-12">{{stp.scheduleTimePlan.planCount+'/'+stp.scheduleTimePlan.schCount }}</label> 
		                              <div ng-repeat="scf in stp.scheduleTimePlan.scheduleFactories">{{scf.user.userName+', '}}</div>
		                               
		                        </div>
	                         </td> 
                           </tr>
                            </tbody>
                         </table>
			</div>



</div>