<div class="row" ng-controller="New_PacketSaleUserController as ufc" ng-init="init()">
 <section ng-show="infoSection">
    <div class="col-lg-2" >
		<div class="hpanel hgreen">
			<div class="panel-body contact-panel text-center">

				<img alt="logo" class="img-circle m-b m-t-md" src="/homerlib/images/{{member.profileUrl==null?(member.userGender==1?'profile.png':'profilem.png'):member.profileUrl}}">
				<h5 style="word-wrap: break-word;">
					<span style="margin-right: 5px">{{member.userName}}</span><span>{{member.userSurname}}</span>
				</h5>
				<div class="text-muted font-bold m-b-xs">{{member.userGsm}}</div>
				<p>{{member.userComment}}</p>
				
				<p class="small">{{'packetSaleComment'|translate}}</p>
				<hr>
				<a href="#/packetsale/sale" class="btn btn-success btn-sm">{{'newPacketSale'|translate}}</a>
			</div>


			<div class="panel-body hidden-xs" ng-show="userId!=0">
				<div class="text-center">
					<h2 class="m-b-xs">{{'packetToSale'|translate}}</h2>
					<p class="font-bold text-success">{{'letSale'|translate}}</p>
					<div class="m">
						<i class="pe-7s-science fa-5x"></i>
					</div>
					
				</div>
			</div>



			<div class="panel-body hidden-xs">
				<dl>
					<dt>{{'staffTokenName'|translate}}</dt>
					<dd>{{member.staffName}}</dd>
					<dd>
						<div class="hr-line-dashed"></div>
					</dd>
					<dt>{{'memberCreateTime'|translate}}</dt>
					<dd>{{member.createTime | date:dateFormat}}{{'createTimeComment'|translate}}</dd>
					<dd>
						<div class="hr-line-dashed"></div>
					</dd>
					<dt>{{'birthday'|translate}}</dt>
					<dd>{{member.userBirthday  | date:dateFormat}}</dd>
				</dl>
			</div>
		</div>
	</div>


    <div class="col-lg-10" >
     <div class="row">
 		<div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                {{'foundedForPacketSaleChart'|translate}}
            </div>
            <div class="panel-body" id="cnvPanel">
                <div>
                    <canvas id="barOptions" height="240" ></canvas>
                </div>
            </div>
        </div>
		
		<div class="col-lg-12" >
            
            <div class="hpanel">
            	<div class="panel-heading hbuilt">
	                <div class="row">
	                    <div class="col-md-8">
	                        {{'foundedForPacketSale'|translate}}
	                    </div>
	                    <div class="col-md-4">
	                        <form action="">
	                            <div class="input-group">
	                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
									<span class="input-group-btn">
										<button class="btn btn-md btn-default" type="button">
	                                        <span class="fa fa-search"></span>
	                                    </button>
									</span>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
            	<div class="panel-body">
	                <div class="table-responsive">
		                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped table-static ">
		                    <thead>
		                    <tr>
		                        <th width="10%">{{'progStatu'|translate}}</th>
		                        <th width="10%">{{'progType'|translate}}</th>
		                        <th width="15%">{{'progName'|translate}}</th>
		                        <th width="5%">{{'progCountComment'|translate}}</th>
		                        <th width="5%">{{'packetPrice'|translate}}</th>
		                        <th width="5%">{{'salePrice'|translate}}</th>
		                        <th width="5%">{{'discount'|translate}}</th>
		                        <th width="8%">{{'salesDate'|translate}}</th>
		                        <th >{{'salesComment'|translate}}</th>
		                        <th width="10%">{{'changeDate'|translate}}</th>
		                        <th width="10%">{{'arrear'|translate}}</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr ng-repeat="packetSale in packetSales | filter:search">
		                        <td>{{packetSale.saleStatu==0?('noStarted'|translate):(packetSale.saleStatu==1?('continuePacket'|translate):('finished'|translate))}}</td>
		                        <td>{{packetSale.progType=='psp'?('personal_program'|translate):(packetSale.progType=='psc'?('class_program'|translate):('membership_program'|translate))}}</td>
		                        <td>{{packetSale.programFactory.progName}}</td>
		                        <td>{{packetSale.progCount}}</td>
		                        <td>{{(packetSale.programFactory.progPrice*packetSale.progCount )+' '+ptCurrency}}</td>
		                        <td>{{packetSale.packetPrice+' '+ptCurrency}}</td>
		                        <td class="{{(((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice)!=0)?'text-danger':'text-success'}}">
		                          {{((((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice) /(packetSale.programFactory.progPrice*packetSale.progCount ))*100)+' %'}}
		                        </td>
		                        <td>{{packetSale.salesDate|date:dateFormat}}</td>
		                        <td>{{packetSale.salesComment}}</td>
		                        <td>{{packetSale.changeDate|date:dateFormat}}</td>
		                        <td class="{{((packetSale.packetPrice-packetSale.packetPaymentFactory.payAmount)!=0)?'text-danger':'text-success'}}">
		                        {{(packetSale.packetPrice-packetSale.packetPaymentFactory.payAmount)+' '+ptCurrency}}
		                        </td>
		                    </tr>
		            		</tbody>
		            	</table>
	            	</div>
	            </div>
            </div>
        </div>
	</div>
    </div>
    
</section>
<section ng-show="!infoSection">
  <div class="row">
        <div class="col-lg-12" >
		  <i class="pe-7s-close fa-10x pull-right" ng-click="infoSection=true" style="cursor: pointer;"></i>
		</div>
 
 
         <div class="col-lg-6">
         	 <div class="hpanel">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">{{'progCountComment'|translate}}</label>
							<div class="col-sm-8">
		
								<div class="input-group m-b">
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary"
											data-container="body" data-toggle="popover"
											data-placement="bottom"
											data-content="{{'whatIsProgCountInPersonalSale'|translate}}">
											<i class="pe-7s-help1"></i>
										</button>
									</span> <input type="text" class="form-control"
										ng-model="progCount" id="progCount"
										ng-change="progCountChange()">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{'progPrice'|translate}}*
								{{' '+ptCurrency}}</label>
							<div class="col-sm-8">
							  <div class="form-inline">
								<input type="text" ng-disabled="disabled" class="form-control"
									ng-model="packetPrice">
									<button type="button" class="btn btn-sm btn-success" ng-show="userType==6" ng-click="setEnabled()"><i class="pe-7s-tools"></i></button>
							   </div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{'salesDate'|translate}}</label>
							<div class="col-sm-8">
								<input type="text" id="salesDate"
									placeholder="{{'enterSalesDate'|translate}}"
									ng-model="salesDateStr" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{'salesComment'|translate}}*</label>
							<div class="col-sm-8">
								<textarea class="form-control"
									placeholder="{{'userCommentPlh'|translate}}"
									ng-model="salesComment"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{'staffTokenName'|translate}}*</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="staffId">
									<option value="0">{{'pleaseSelect'|translate}}</option>
		
									<option ng-repeat="staff in staffs"
										value="{{staff.userId}}">{{staff.userName +'
										'+staff.userSurname}}</option>
		
								</select>
							</div>
						</div>
		
					</form>
				</div>
         </div>
         
         <div class="col-lg-6">
         
         </div>
 
 </div>
 
 </section>

</div>