<div class="row" ng-controller="New_PacketSaleUserController as ufc" ng-init="init()">
 <section ng-show="infoSection">
    <div class="col-lg-2" >
		<div class="hpanel hgreen">
			<div class="panel-body contact-panel text-center">

				<img alt="logo" class="img-circle m-b m-t-md" src="/homerlib/images/{{member.profileUrl==null?(member.userGender==1?'profile.png':'profilem.png'):member.profileUrl}}">
				<h5 style="word-wrap: break-word;">
					<span style="margin-right: 5px">{{member.userName}}</span><span>{{member.userSurname}}</span>
				</h5>
				<div class="text-muted font-bold m-b-xs">{{member.userGsm}}</div>
				<p>{{member.userComment}}</p>
				
				<p class="small">{{'packetSaleComment'|translate}}</p>
				<hr>
				<button type="button" ng-click="saleNewPacket()" class="btn btn-success btn-sm">{{'newPacketSale'|translate}}</button>
                <hr>
                <a class="btn btn-primary2 btn-sm" href="#/packetpayment/leftPayment">{{'shortChange'|translate}}</a>  
			</div>


			<div class="panel-body hidden-xs" ng-show="userId!=0">
				<div class="text-center">
					<h2 class="m-b-xs">{{'packetToSale'|translate}}</h2>
					<p class="font-bold text-success">{{'letSale'|translate}}</p>
					<div class="m">
						<i class="pe-7s-science fa-5x"></i>
					</div>
					
				</div>
			</div>



			<div class="panel-body hidden-xs">
				<dl>
					<dt>{{'staffTokenName'|translate}}</dt>
					<dd>{{member.staffName}}</dd>
					<dd>
						<div class="hr-line-dashed"></div>
					</dd>
					<dt>{{'memberCreateTime'|translate}}</dt>
					<dd>{{member.createTime | date:dateFormat}}{{'createTimeComment'|translate}}</dd>
					<dd>
						<div class="hr-line-dashed"></div>
					</dd>
					<dt>{{'birthday'|translate}}</dt>
					<dd>{{member.userBirthday  | date:dateFormat}}</dd>
				</dl>
			</div>
		</div>
	</div>


    <div class="col-lg-10" >
     <div class="row">
        
       <div class="col-lg-9" >
 		<div class="hpanel">
            <div class="panel-heading hbuilt">
                {{'foundedForPacketSaleChart'|translate}}
            </div>
            <div class="panel-body" id="cnvPanel">
                <div>
                    <canvas id="barOptions" height="240" ></canvas>
                </div>
            </div>
        </div>
		</div>
		
		<div class="col-md-3">
		
		
		    <div class="col-md-12">  
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="stats-title pull-left">
                            <h4>{{'income'|translate}}</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-ticket fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">{{totalIncome+" "+ptCurrency}}</h1>
                            <small>
                                {{'expectedIncomeComment'|translate}}
                            </small>
                        </div>
                    </div>
                </div>
             </div>
             
             <div class="col-md-12">  
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="stats-title pull-left">
                            <h4>{{'arrear'|translate}}</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-ticket fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-warning">{{totalDept+" "+ptCurrency}}</h1>
                            <small>
                                {{'deptAmountComment'|translate}}
                            </small>
                        </div>
                    </div>
                </div>
             </div>
             
             
             
             
            </div>
		
		
		
		<div class="col-lg-12" >
            
            <div class="hpanel">
            	<div class="panel-heading hbuilt">
	                <div class="row">
	                    <div class="col-md-8">
	                        {{'foundedForPacketSale'|translate}}
	                    </div>
	                    <div class="col-md-4">
	                        <form action="">
	                            <div class="input-group">
	                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
									<span class="input-group-btn">
										<button class="btn btn-md btn-default" type="button">
	                                        <span class="fa fa-search"></span>
	                                    </button>
									</span>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
            	<div class="panel-body">
	                <div class="table-responsive">
		                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped table-static ">
		                    <thead>
		                    <tr>
		                        <th width="10%">{{'progStatu'|translate}}</th>
		                        <th width="10%">{{'progType'|translate}}</th>
		                        <th width="15%">{{'progName'|translate}}</th>
		                        <th width="5%">{{'progCountComment'|translate}}</th>
		                        <th width="5%">{{'packetPrice'|translate}}</th>
		                        <th width="5%">{{'salePrice'|translate}}</th>
		                        <th width="5%">{{'discount'|translate}}</th>
		                        <th width="8%">{{'salesDate'|translate}}</th>
		                        <th >{{'salesComment'|translate}}</th>
		                        <th width="10%">{{'changeDate'|translate}}</th>
		                        <th width="10%">{{'arrear'|translate}}</th>
		                        <th width="10%">{{'execution'|translate}}</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr ng-repeat="packetSale in packetSales | filter:search">
		                        <td>{{packetSale.saleStatu==0?('noStarted'|translate):(packetSale.saleStatu==1?('continuePacket'|translate):('finished'|translate))}}</td>
		                        <td>{{packetSale.progType=='psp'?('personal_program'|translate):(packetSale.progType=='psc'?('class_program'|translate):('membership_program'|translate))}}</td>
		                        <td>{{packetSale.programFactory.progName}}</td>
		                        <td>{{packetSale.progCount}}</td>
		                        <td>{{(packetSale.programFactory.progPrice*packetSale.progCount )+' '+ptCurrency}}</td>
		                        <td>{{packetSale.packetPrice+' '+ptCurrency}}</td>
		                        <td class="{{(((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice)!=0)?'text-danger':'text-success'}}">
		                           {{(packetSale.programFactory.progPrice==0)?(0+'%'):(((((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice) /(packetSale.programFactory.progPrice*packetSale.progCount ))*100)+' %')}}
				                </td>
		                        <td>{{packetSale.salesDate|date:dateFormat}}</td>
		                        <td>{{packetSale.salesComment}}</td>
		                        <td>{{packetSale.changeDate|date:dateFormat}}</td>
		                        <td class="{{((packetSale.packetPrice-packetSale.packetPaymentFactory.payAmount)!=0)?'text-danger':'text-success'}}">
		                        {{(packetSale.packetPrice-packetSale.packetPaymentFactory.payAmount)+' '+ptCurrency}}
		                        </td>
		                        
		                        <td>
		                          <div class="btn-group">
		                              <button class="btn btn-primary btn-xs" title="{{'payment'|translate}}" ng-click="paymentPS(packetSale)" type="button"><i class="fa fa-money"></i></button>
		                               <button class="btn btn-info btn-xs"  title="{{'editLbl'|translate}}" ng-click="editPS(packetSale)" type="button"><i class="fa fa-pencil"></i></button>
		                               <button class="btn btn-danger btn-xs"  title="{{'deleteLbl'|translate}}" ng-click="deletePS(packetSale)" type="button"><i class="fa fa-times"></i></button>
		                          </div>
		                        </td>
		                        
		                    </tr>
		            		</tbody>
		            	</table>
	            	</div>
	            </div>
            </div>
        </div>
	</div>
    </div>
    
</section>

<section ng-show="!infoSection && saleSection">
  <div class="row">
        <div class="col-lg-12" >
        <div class="col-lg-6">
          <h1 class="text-info">{{member.userName+" "+member.userSurname}}</h1>
         </div>
        <div class="col-lg-6">
          <i class="pe-7s-close fa-10x pull-right font-light" ng-click="turnBackToInfo()" style="cursor: pointer;"></i>
          </div>
		</div>
 		<div class="col-lg-4">
         	 <div class="hpanel">
        	 		<div class="panel-heading hbuilt">
		                <div class="row">
		                    <div class="col-md-8">
		                        {{'packetSale'|translate}}
		                    </div>
		                    <div class="col-md-4">
		                        <i class="pe-7s-science fa-3x pull-right"></i>
		                    </div>
		                </div>
		            </div>
		         	 <div class="panel-body">
		         			<form class="form-horizontal">
								<div class="form-group" ng-show="newSaleFlag">
									<div class="col-sm-12 text-center" ng-show="restriction.multiRestriction==1">
									  	<div data-toggle="buttons" class="btn-group">
				                            <button class="btn {{btnPersonal}}" type="button" ng-show="restriction.personalRestriction==1"><i class="fa fa-group"></i> <br>{{'personal_program'|translate}}</button>
				                            <button class="btn {{btnClass}}" type="button" ng-show="restriction.groupRestriction==1"><i class="fa fa-group"></i> <br>{{'class_program'|translate}}</button>
				                            <button class="btn {{btnMembership}}" type="button" ng-show="restriction.membershipRestriction==1"><i class="fa fa-group"></i> <br>{{'membership_program'|translate}}</button>
				                        </div>
									</div>
								</div>
								<div class="form-group">	
									<label class="col-sm-4 control-label" >{{'progName'|translate}}</label>
									<div class="col-sm-8">
									<select class="form-control" ng-show="newSaleFlag"  ng-model="psf.progId" ng-change="programChanged()">
									  		<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="program in programs"
												value="{{program.progId}}">{{program.progName }}</option>
									</select>
									
									<label class="label label-success"  ng-show="!newSaleFlag">{{psf.programFactory.progName}}</label>
									
									</div>
								</div>	
								<div class="form-group  animated zoomIn" ng-show="programSelected" >	
									<label class="col-sm-4 control-label">{{'progCountComment'|translate}}</label>
									<div class="col-sm-8">
				
										<div class="input-group m-b">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													data-container="body" data-toggle="popover"
													data-placement="bottom"
													data-content="{{'whatIsProgCountInPersonalSale'|translate}}">
													<i class="pe-7s-help1"></i>
												</button>
											</span> <input type="text" class="form-control"
												ng-model="psf.progCount"  id="progCount"
												ng-change="progCountChange()">
										</div>
									</div>
								</div>
								<div class="form-group animated zoomIn" ng-show="programSelected">
									<label class="col-sm-4 control-label">{{'progPrice'|translate}}*
										{{' '+ptCurrency}}</label>
									<div class="col-sm-8">
									  <div class="form-inline">
										<input type="text" ng-disabled="disabled" class="form-control"
											ng-model="psf.packetPrice">
											<button type="button" class="btn btn-sm btn-success" ng-show="userType==6" ng-click="setEnabled()"><i class="pe-7s-tools"></i></button>
									   </div>
									</div>
								</div>
								<div class="form-group animated zoomIn" ng-show="programSelected">
									<label class="col-sm-4 control-label">{{'salesDate'|translate}}</label>
									<div class="col-sm-8">
										<input type="date" id="salesDate"
											placeholder="{{'enterSalesDate'|translate}}"
											ng-model="psf.salesDate" class="form-control">
									</div>
								</div>
								<div class="form-group animated zoomIn" ng-show="programSelected">
									<label class="col-sm-4 control-label">{{'salesComment'|translate}}*</label>
									<div class="col-sm-8">
										<textarea class="form-control"
											placeholder="{{'userCommentPlh'|translate}}"
											ng-model="psf.salesComment"></textarea>
									</div>
								</div>
								<div class="form-group animated zoomIn" ng-show="programSelected">
									<label class="col-sm-4 control-label">{{'staffTokenName'|translate}}*</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="psf.staffId">
											<option value="0">{{'pleaseSelect'|translate}}</option>
											<option ng-repeat="staff in staffs"
												value="{{staff.userId}}">{{staff.userName +'
												'+staff.userSurname}}</option>
										</select>
									</div>
								</div>
				
							</form>
						</div>
						<div class="panel-footer contact-footer">
								<div class="row">
									<div class="col-md-12 animated zoomIn" ng-show="programSelected">
										<div class="contact-stat">
											<button type="button" class="btn btn-primary" ng-click="saleIt()">{{'controlAndSalePacket'|translate}}</button>
										</div>
									</div>
								</div>
					    </div>
				</div>
         </div>
         
         <div class="col-lg-8">
         			<div class="hpanel">
		            	<div class="panel-heading hbuilt">
			                <div class="row">
			                    <div class="col-md-8">
			                        {{'foundedForPacketSale'|translate}}
			                    </div>
			                    <div class="col-md-4">
			                        <form action="">
			                            <div class="input-group">
			                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
											<span class="input-group-btn">
												<button class="btn btn-md btn-default" type="button">
			                                        <span class="fa fa-search"></span>
			                                    </button>
											</span>
			                            </div>
			                        </form>
			                    </div>
			                </div>
			            </div>
		            	<div class="panel-body">
			                <div class="table-responsive">
				                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped table-static ">
				                    <thead>
				                    <tr>
				                        <th width="10%">{{'progStatu'|translate}}</th>
				                        <th width="10%">{{'progType'|translate}}</th>
				                        <th width="15%">{{'progName'|translate}}</th>
				                        <th width="5%">{{'progCountComment'|translate}}</th>
				                        <th width="5%">{{'packetPrice'|translate}}</th>
				                        <th width="5%">{{'salePrice'|translate}}</th>
				                        <th width="5%">{{'discount'|translate}}</th>
				                        <th width="8%">{{'salesDate'|translate}}</th>
				                        <th width="10%">{{'execution'|translate}}</th>
				                    </tr>
				                    </thead>
				                    <tbody>
				                    <tr ng-repeat="packetSale in packetSales | filter:search">
				                        <td>{{packetSale.saleStatu==0?('noStarted'|translate):(packetSale.saleStatu==1?('continuePacket'|translate):('finished'|translate))}}</td>
				                        <td>{{packetSale.progType=='psp'?('personal_program'|translate):(packetSale.progType=='psc'?('class_program'|translate):('membership_program'|translate))}}</td>
				                        <td>{{packetSale.programFactory.progName}}</td>
				                        <td>{{packetSale.progCount}}</td>
				                        <td>{{(packetSale.programFactory.progPrice*packetSale.progCount )+' '+ptCurrency}}</td>
				                        <td>{{packetSale.packetPrice+' '+ptCurrency}}</td>
				                        <td class="{{(((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice)!=0)?'text-danger':'text-success'}}">
				                          {{(parseFloat(packetSale.programFactory.progPrice)==0)?(0+'%'):(((((packetSale.programFactory.progPrice*packetSale.progCount )-packetSale.packetPrice) /(packetSale.programFactory.progPrice*packetSale.progCount ))*100)+' %')}}
				                        </td>
				                        <td>{{packetSale.salesDate|date:dateFormat}}</td>
				                         <td>
				                          <div class="btn-group">
				                               <button class="btn btn-primary btn-xs" title="{{'editLbl'|translate}}" ng-click="editPS(packetSale)" type="button"><i class="fa fa-money"></i></button>
				                               <button class="btn btn-info btn-xs"  title="{{'payment'|translate}}" ng-click="paymentPS(packetSale)" type="button"><i class="fa fa-pencil"></i></button>
				                               <button class="btn btn-danger btn-xs"  title="{{'deleteLbl'|translate}}" ng-click="deletePS(packetSale)" type="button"><i class="fa fa-times"></i></button>
				                          </div>
				                        </td>
				                    </tr>
				            		</tbody>
				            	</table>
			            	</div>
			            </div>
		            </div>
         
         
         </div>
 
 </div>
 
 </section>


 <section ng-show="!infoSection && !saleSection"  ng-controller="New_PacketPaymentController as ppc">
 
 <div class="row">
        <div class="col-lg-12" >
        <div class="col-lg-6">
          <h1 class="text-info">{{member.userName+" "+member.userSurname}}</h1>
         </div>
        <div class="col-lg-6">
          <i class="pe-7s-close fa-10x pull-right font-light" ng-click="turnBackToInfo()" style="cursor: pointer;"></i>
          </div>
		</div>
		
		
		<div class="col-lg-5 col-md-5">
		<div class="hpanel">
		
		    <div class="panel-heading hbuilt">
			     <p>
					<strong>{{'enterPacketPayment'|translate}}</strong>
					<br>
					{{'enterPacketPaymentComment'|translate}}
				</p>
			  </div>
		
			<div class="panel-body">
				<form class="form-horizontal">

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'payAmount'|translate}}*
							{{' '+ptCurrency}}</label>
						<div class="col-sm-8">
							<div class="input-group m-b">
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary"
										data-container="body" data-toggle="popover"
										data-placement="bottom"
										data-content="{{'whatIspayAmount'|translate}}">
										<i class="pe-7s-help1"></i>
									</button>
								</span> <input type="text" class="form-control" ng-model="ppf.payAmount">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'payDate'|translate}}</label>
						<div class="col-sm-8">
							<input type="date"
								 ng-model="ppf.payDate"
								class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'payType'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="ppf.payType">
								<option value="0">{{'pleaseSelect'|translate}}</option>
								<option value="1">{{'cash'|translate}}</option>
								<option value="2">{{'creditCard'|translate}}</option>
								<option value="3">{{'debitCard'|translate}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'payComment'|translate}}*</label>
						<div class="col-sm-8">
							<textarea class="form-control"
								placeholder="{{'payCommentPlh'|translate}}"
								ng-model="ppf.payComment"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button class="btn btn-primary pull-right" type="button"
								ng-click="createPacketPayment()" ng-disabled="onProgress">{{'confirm'|translate}}</button>
						</div>
					</div>

				</form>

			</div>
		</div>
		
		</div>
		
		<div class="col-lg-7 col-md-7">
		
		<div class="col-lg-12 col-md-12">
		<div class="hpanel">
			
			  <div class="panel-heading hbuilt">
			  <div>
			     <p>
					<strong>{{'packetPaymentComment1'|translate}}</strong><br>
					{{'packetPaymentComment2'|translate}}<strong>{{'packetPaymentComment3'|translate}}</strong>{{'packetPaymentComment4'|translate}}
				</p>
				</div>
			  </div>
			
			
			    <div class="panel-body">
				
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<tbody>
							<tr ng-repeat="packetPaymentDetail in packetPaymentDetailFactories">
								<td>{{packetPaymentDetail.payAmount+' '+ptCurrency}}</td>
								<td>{{packetPaymentDetail.payDate|date:dateFormat }}</td>
								<td class="issue-info">{{packetPaymentDetail.payComment}}</td>
								<td class="text-right">
									<button class="btn btn-default btn-md"
										ng-click="packetPaymentDetailDelete(packetPaymentDetail)">
										<i class="pe-7s-close-circle"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12 col-md-12">
		<div class="hpanel">
		<div class="panel-body" id="cnvSPanel">
		  <div>
		     <canvas id="singleBarOptions" height="140"></canvas>
		  </div>
		</div>
		</div>
	</div>	
   </div>		
</div>
 
 
 </section>

</div>