<div ng-controller="UserTestController as ufc" ng-init="initUTC()">

<section  ng-show="!showTest">
      <div class="col-lg-12">
            <div class="col-lg-8">
      <div class="hpanel ">
		    <div class="panel-heading hbuilt">
                <i class="fa fa-heartbeat fa-2x"></i>
            </div>
            <div class="panel-body">
            
			          <form class="form-horizontal">
			            <div class="form-group">
							<label class="col-sm-2 control-label">{{'testDate'|translate}}*</label>
							<div class="col-sm-4">
								<input type="date" class="form-control" ng-model="userTest.testDate" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">{{'testName'|translate}}*</label>
							<div class="col-sm-4">
								<select class="form-control" ng-model="userTest.testId" >
								  <option value="0">{{'pleaseSelect'|translate}}</option>
								  <option ng-repeat="defTest in defTests" value="{{defTest.testId}}">{{defTest.testName}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{'comment'|translate}}*</label>
							<div class="col-sm-10">
								<textarea class="form-control"
									ng-model="userTest.testComment"
									placeholder="{{'enterSurname'|translate}}"></textarea>
							</div>
						</div>
			          
			          </form>
			  
      </div>
      
      	<div class="panel-footer">	
      	    <a class="btn btn-primary2"  href="" ng-click="createTest()">{{'save'|translate}}</a>
		 	<a class="btn btn-success"  href="" ng-click="showTest=true">{{'close'|translate}}</a>
		 </div>
		 </div>
		</div>
   </div>
 </section>
 <section  ng-show="showTest">
   <div class="col-lg-12">
		<div class="hpanel">
		    <div class="panel-heading hbuilt">
                {{'userTestResults'|translate}}
            </div>
				<div class="panel-body">	
				<table class="table table-stripped">
				    <thead>
				       <th> {{'testName' | translate}}</th>
				       <th> {{'testDate' | translate}}</th>
				       <th > {{'comment' | translate}}</th>
				       <th>{{'execution' | translate}}</th>
				    </thead>
				    <tbody>
				    	 <tr ng-repeat="userTest in userTests ">
					      <td>{{userTest.testName}}</td>
					      <td>{{userTest.testDate|date:dateFormat}}</td>
					      <td >{{userTest.testComment}}</td>
					    <td>
					      <div class="btn-group">
					        <a class="btn btn-danger  btn-sm" ng-click="deleteTest(userTest)" class="pull-right"><i class="pe-7s-close pull-right "></i></a>
					        
					        <a class="btn btn-primary  btn-sm" ng-click="updateTest(userTest)" class="pull-right"><i class="pe-7s-config pull-right "></i></a>
					      </div>
					      </td>
					    </tr>
				    </tbody>
				 </table>		
			</div>
			<div class="panel-footer">	
			 	<a class="btn btn-primary2"  href="" ng-click="showTest=false">{{'addNewMeasurement'|translate}}</a>
			 </div>
		</div>	
	</div>
</section>

</div>