<div 
	ng-controller="UserFindController as ufc" ng-init="init()">
	
<section class="register-container animate zoomIn" ng-show="isSearch">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
				<h3>{{'findMember' | translate}}</h3>
				<small>{{'findMemberComment' | translate}}</small>
			</div>
			<div class="hpanel">
				<div class="panel-body">
					<form>
						<div class="row">
							<div class="form-group col-lg-6">
								<label>{{'name' | translate}}</label> <input type="text"
									value="" id="" class="form-control" autocomplete="off" name=""
									ng-model="filterName" ng-keypress="findKey($event)">
							</div>
							<div class="form-group col-lg-6">
								<label>{{'surname' | translate}}</label> <input type="text"
									value="" id="" class="form-control" autocomplete="off" name=""
									ng-model="filterSurname" ng-keypress="findKey($event)">
							</div>

						</div>
						<div class="text-center">
							<button type="button" class="btn btn-success" ng-click="find()">{{'find'
								| translate}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<strong>BEINPlanner</strong> - {{'appNameTitle' | translate}} <br /> 2010
			Copyright by BEINPlanner
		</div>
	</div>
</section>

<section class="animate zoomIn" ng-show="!isSearch">
	
	
	
	
	<div class="col-lg-12 animate zoomIn">
		
		<div class="hpanel">
		
		    <div class="panel-heading hbuilt">
                <div class="row">
                <div class="col-md-12  col-xs-12">
                   <i class="pe-7s-close fa-5x font-light text-danger" ng-click="research()" style="cursor: pointer;z-index:1000;"></i>
	             </div>
                
                    <div class="col-md-12 col-xs-12 ">
                        {{'userFounded'|translate}}
                    </div>
                    <div class="col-md-12  col-xs-12">
                        <form action="">
                            <div class="input-group">
                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
								<span class="input-group-btn">
									<button class="btn btn-md btn-default" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
								</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		
				<div class="panel-body">	
				<table class="table table-stripped">
				    <thead>
				       <th> {{'name' | translate}}</th>
				       <th> {{'surname' | translate}}</th>
				       <th class="hidden-xs"> {{'birthday' | translate}}</th>
				       <th class="hidden-xs"> {{'phone' | translate}}</th>
				       <th class="hidden-xs"> {{'gsm' | translate}}</th>
				       <th class="hidden-xs"> {{'email' | translate}}</th>
				       <th class="hidden-xs"> {{'comment' | translate}}</th>
				       <th>{{'execution' | translate}}</th>
				    </thead>
				    <tbody>
				    	 <tr ng-repeat="member in members | filter:{userSurname : search}">
					      <td>{{member.userName}}</td>
					      <td>{{member.userSurname}}</td>
					      <td class="hidden-xs">{{member.userBirthday|date:dateFormat}}</td>
					      <td class="hidden-xs">{{member.userPhone}}</td>
					      <td class="hidden-xs">{{member.userGsm}}</td>
					      <td class="hidden-xs">{{member.userEmail}}</td>
					      <td class="hidden-xs">{{member.userComment}}</td>
					     <td>
					      <div class="btn-group">
					        <a class="btn btn-primary2 btn-sm"  href="" ng-click="getMember(member)"><i class="pe-7s-edit pull-right  "></i></a>
					        <a class="btn btn-danger  btn-sm" ng-click="deleteUser(member)" class="pull-right"><i class="pe-7s-close pull-right "></i></a>
					      </div>
					      </td>
					    </tr>
				    
				    </tbody>
				    
				 
				 
				 </table>		
			</div>
		</div>	
			
	</div>
</section>


</div>