<div class=" animate zoomIn"
	ng-controller="PotentialUserFindController as ufc" ng-init="initPUC()">
	<section ng-show="showQuery">
		<div class="row register-container">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="text-center m-b-md">
						<h3>{{'findPotentialMember' | translate}}</h3>
						<small>{{'findPotentialMemberComment' | translate}}</small>
					</div>
				</div>
					<div class="panel-body">
						<form>
							<div class="row">
								<div class="form-group col-lg-6">
									<label>{{'name' | translate}}</label> <input type="text"
										value="" id="" class="form-control" autocomplete="off" name=""
										ng-model="filterName">
								</div>
								<div class="form-group col-lg-6">
									<label>{{'surname' | translate}}</label> <input type="text"
										value="" id="" class="form-control" autocomplete="off" name=""
										ng-model="filterSurname">
								</div>

							</div>
							<div class="text-center">
								<button type="button" class="btn btn-success" ng-click="find()">{{'find'| translate}}</button>
								<button type="button" class="btn btn-warning" ng-click="newPotential()">{{'newPotential' |translate}}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		
		<div class="row">
			<div class="col-md-12 text-center">
				<strong>BEINPlanner</strong> - {{'appNameTitle' | translate}} <br /> 2010
				Copyright by BEINPlanner
			</div>
		</div>

	</section>

	<section ng-show="!showQuery">
		<div class="col-md-12">
			
			
			 <i class="pe-7s-close fa-10x pull-right font-light" ng-click="query()" style="cursor: pointer;"></i>
			
			
		</div>
		<div class="hpanel ptboss-container">
			<div class="panel-body">

				<table class="table table-stripped">
					<thead>
						<th>{{'name'|translate}}</th>
						<th>{{'phone'|translate}}</th>
						<th class="hidden-xs">{{'email'|translate}}</th>
						<th class="hidden-xs">{{'createTime'|translate}}</th>
						<th class="hidden-xs">{{'updateTime'|translate}}</th>
						<th class="hidden-xs">{{'membershipStatus'|translate}}</th>
						<th class="hidden-xs">{{'comment'|translate}}</th>
						<th>{{'execution'|translate}}</th>
					</thead>
					<tbody>

						<tr ng-repeat="pu in potentials">
							<td>{{pu.userName+" "+pu.userSurname}}</td>
							<td>{{pu.userGsm}}</td>
							<td class="hidden-xs">{{pu.userEmail}}</td>
							<td class="hidden-xs">{{pu.createTime|date:dateFormat}}</td>
							<td class="hidden-xs">{{pu.updateTime|date:dateFormat}}</td>
							<td class="hidden-xs">{{pu.pStatuStr|translate}}</td>
							<td class="hidden-xs">{{pu.pComment}}</td>
							<td><button type="button" class="btn btn-success " ng-click="edit(pu)">
									<i class="pe-7s-edit"></i><span style="padding-left: 5px;">{{'editLbl'|translate}}</span>
								</button></td>

						</tr>

					</tbody>



				</table>

			</div>
		</div>




	</section>


</div>