<div class="row ptboss-container" ng-controller="FirmController as fc" ng-init="init()">
	

	<div class="col-md-12 col-sm-12" >
		<div class="hpanel">
			<div class="panel-heading hbuilt">
			 <p>{{'firmTitle'|translate}}</p>
			</div>
			<div class="panel-body ">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'firmName'|translate}}*</label>
						<div class="col-sm-8">
							<input  autocomplete="off" type="text"
								class="form-control" ng-model="defFirm.firmName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'firmAuthPerson'|translate}}*</label>
						<div class="col-sm-8">
							<input  autocomplete="off" type="text"
								class="form-control" ng-model="defFirm.firmAuthPerson">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'firmPhone'|translate}}*</label>
						<div class="col-sm-8">
							<input id="firmPhone" ui-mask="{{maskGsm}}" autocomplete="off" type="text"
								class="form-control" ng-model="defFirm.firmPhone">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'email'|translate}}*</label>
						<div class="col-sm-8">
							<input autocomplete="off" type="text" class="form-control"
								ng-model="defFirm.firmEmail">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'city'|translate}}*</label>
						<div class="col-sm-8">
							<textarea class="form-control"
								placeholder="{{'enterCity'|translate}}"
								ng-model="defFirm.firmCityName"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'state'|translate}}*</label>
						<div class="col-sm-8">
							<textarea class="form-control"
								placeholder="{{'enterState'|translate}}"
								ng-model="defFirm.firmStateName"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">{{'address'|translate}}*</label>
						<div class="col-sm-8">
							<textarea class="form-control"
								placeholder="{{'enterAddress'|translate}}"
								ng-model="defFirm.firmAddress"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
							<button type="button" class="btn btn-success btn-block"
								ng-click="createFirm()">{{'save'|translate}}</button>
						</div>
					</div>
				</form>
			</div>





		</div>
	</div>


</div>