<div  ng-controller="StaffFindController as ufc" ng-init="init()">
<section class="animate zoomIn" >
	<div class="col-lg-12 animate zoomIn">
		<div class="hpanel">
		    <div class="panel-heading hbuilt">
                <div class="row">
                    <div class="col-md-8">
                        {{'userFounded'|translate}}
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" ng-model="search" class="form-control input-md" placeholder="{{'filter'|translate}}" >
								<span class="input-group-btn">
									<button class="btn btn-md btn-default" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
								</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		
				<div class="panel-body">	
				<table class="table table-stripped">
				    <thead>
				       <th> {{'userType' | translate}}</th>
				       <th> {{'name' | translate}}</th>
				       <th> {{'surname' | translate}}</th>
				       <th> {{'birthday' | translate}}</th>
				       <th> {{'phone' | translate}}</th>
				       <th> {{'gsm' | translate}}</th>
				       <th> {{'email' | translate}}</th>
				       <th> {{'comment' | translate}}</th>
				       <th>{{'execution' | translate}}</th>
				    </thead>
				    <tbody>
				    	 <tr ng-repeat="staff in staffs | filter:{userSurname : search}">
					      <td>
					        {{(staff.userType=='2')?('staff'|translate)
					        						:( (staff.userType=='3')?('schedulerStaff'|translate):( (staff.userType=='4')?('manager'|translate): ( (staff.userType=='5')?('supermanager'|translate) : ('passive'|translate))))}}  
					      </td>
					      
					      <td>{{staff.userName}}</td>
					      <td>{{staff.userSurname}}</td>
					      <td>{{staff.userBirthday|date:dateFormat}}</td>
					      <td>{{staff.userPhone}}</td>
					      <td>{{staff.userGsm}}</td>
					      <td>{{staff.userEmail}}</td>
					      <td>{{staff.userComment}}</td>
					     <td>
					      <div class="btn-group">
					        <a class="btn btn-primary2 btn-sm"  href="" ng-click="getStaff(staff)"><i class="pe-7s-edit pull-right  "></i></a>
					        <a class="btn btn-danger  btn-sm" ng-click="deleteUser(staff)" class="pull-right"><i class="pe-7s-close pull-right "></i></a>
					      </div>
					      </td>
					    </tr>
				    
				    </tbody>
				    
				 
				 
				 </table>		
			</div>
		</div>	
			
	</div>
</section>


</div>