<div class="row projects" ng-controller="ZmsPaymentController as zpc" ng-init="initZP()">
		        <div class="col-lg-12" >
		        	<div class="col-lg-6">
		          		<h1 class="text-info">{{zmsStockOutDetail.user.userName+" "+zmsStockOutDetail.user.userSurname}}</h1>
		         	</div>
		       </div>
				<div class="col-lg-5 col-md-5">
						<div class="hpanel">
						    <div class="panel-heading hbuilt">
							     <p>
									<strong>{{'enterStockPayment'|translate}}</strong>
									<br>
									{{'enterStockPaymentComment'|translate}}
								</p>
							 </div>
							<div class="panel-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-4 control-label">{{'payAmount'|translate}}*
											{{' '+ptCurrency}}</label>
										<div class="col-sm-8">
											<div class="input-group m-b">
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary"
														data-container="body" data-toggle="popover"
														data-placement="bottom"
														data-content="{{'whatIspayAmount'|translate}}">
														<i class="pe-7s-help1"></i>
													</button>
												</span> <input type="text" class="form-control" ng-model="zmsPayment.payAmount">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">{{'payDate'|translate}}</label>
										<div class="col-sm-8">
											<input type="date"
												 ng-model="zmsPayment.payDate"
												class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">{{'payType'|translate}}*</label>
										<div class="col-sm-8">
											<select class="form-control" ng-model="zmsPayment.payType">
												<option value="0">{{'pleaseSelect'|translate}}</option>
												<option value="1">{{'cash'|translate}}</option>
												<option value="2">{{'creditCard'|translate}}</option>
												<option value="3">{{'debitCard'|translate}}</option>
												<option value="4">{{'hirePurchase'|translate}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">{{'payComment'|translate}}*</label>
										<div class="col-sm-8">
											<textarea class="form-control"
												placeholder="{{'payCommentPlh'|translate}}"
												ng-model="zmsPayment.payComment"></textarea>
										</div>
									</div>
									<div class="form-group">
									    <div class="col-sm-6 ">
									    
									    </div>
										<div class="col-sm-6 ">
											<button class="btn btn-primary pull-right" type="button"
												ng-click="createZmsPayment()" ng-disabled="onProgress">{{'confirm'|translate}}</button>
										</div>
									</div>
								</form>
							</div>
						</div>
				</div>
				<div class="col-lg-7 col-md-7 hidden-xs">
					<div class="col-lg-12 col-md-12">
						<div class="hpanel">
							  <div class="panel-heading hbuilt">
							  <div>
							     <p>
									<strong>{{'zmsPaymentComment1'|translate}}</strong><br>
									{{'zmsPaymentComment2'|translate}}<strong>{{'zmsPaymentComment3'|translate}}</strong>{{'zmsPaymentComment4'|translate}}
								</p>
								</div>
							  </div>
						    <div class="panel-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped">
									<tbody>
										<tr ng-repeat="zmsPaymentDetail in zmsPaymentDetails">
											<td>{{zmsPaymentDetail.payAmount+' '+ptCurrency}}</td>
											<td>{{zmsPaymentDetail.payDate|date:dateFormat }}</td>
											<td class="issue-info">{{zmsPaymentDetail.payComment}}</td>
											<td class="text-right">
												<button class="btn btn-default btn-md"
													ng-click="deleteZmsPaymentDetail(zmsPaymentDetail)">
													<i class="pe-7s-close-circle"></i>
												</button>
											</td>
										</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
				</div>
				<div class="col-lg-12 col-md-12">
					<div class="hpanel">
					<div class="panel-body" id="cnvSPanel">
					  <div>
					     <canvas id="singleBarOptions" height="140"></canvas>
					  </div>
					</div>
					</div>
				</div>	
		  	 </div>		
		</div>