<div class="row" ng-controller="ZmsStockOutFindController as perpc"
	ng-init="init()">
<section class="register-container animate zoomIn" ng-show="showSearch">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
				<h3>{{'findMember' | translate}}</h3>
				<small>{{'findMemberComment' | translate}}</small>
			</div>
			<div class="hpanel">
				<div class="panel-body">
					<form>
						<div class="row">
							<div class="form-group col-lg-6">
								<label>{{'name' | translate}}</label> <input type="text"
									value="" id="" class="form-control" autocomplete="off" name=""
									ng-model="filterName" ng-keypress="findKey($event)">
							</div>
							<div class="form-group col-lg-6">
								<label>{{'surname' | translate}}</label> <input type="text"
									value="" id="" class="form-control" autocomplete="off" name=""
									ng-model="filterSurname" ng-keypress="findKey($event)">
							</div>

						</div>
						<div class="text-center">
							<button type="button" class="btn btn-success" ng-click="find()">{{'find'
								| translate}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<strong>BEINPlanner</strong> - {{'appNameTitle' | translate}} <br /> 2010
			Copyright by BEINPlanner
		</div>
	</div>
</section>


<section class="container animate zoomIn" ng-show="showDetail">
     
     <div class="hpanel ">
	     <div class="panel-heading hbuilt">
	       <label class="label label-success">{{'stockOutCommentTitle'|translate}}</label>
	      
	       
	      
	       
	     </div>
	     <div class="panel-body">
	     
	         <table class="table table-striped">
	           <thead>
	           <tr>
	             <th>{{'memberName'|translate}} </th>
	             <th>{{'zmsProductName'|translate}} </th>
	             <th>{{'zmsSellCount'|translate}} </th>
	             <th>{{'zmsSellPrice'|translate}} </th>
	             <th>{{'zmsStatu'|translate}} </th>
	             <th>{{'payment'|translate}} </th>
	             <th>{{'execution'|translate}} </th>
	           </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="stock in zmsStockOuts">
	              <td>{{stock.user.userName+' '+stock.user.userSurname}}</td>
	              <td>{{stock.productName}}</td>
	              <td>{{(stock.sellCount)+' '+(stock.zmsProduct.productUnit|translate)}}</td>
	              <td>{{(stock.sellPrice)+' '+(stock.zmsProduct.productUnit|translate)}}</td>
	              <td>{{stock.sellStatu==1?('preOrdered'|translate):(stock.sellStatu==2?('ordered'|translate):( stock.sellStatu==3?('sended'|translate):('done'|translate) )  )  }}</td>
	               <td>{{(stock.zmsPayment.payAmount)+' '+(ptCurrency)}}</td>
	              <td>
	              <div class="btn-group">
	              <button type="button" title="{{'cancel'|translate}}" class="btn btn-danger btn-sm" ng-click="deleteZmsStockOut(stock)"><i class="pe-7s-close"></i></button>
	              <button type="button" title="{{'update'|translate}}" class="btn btn-primary btn-sm" ng-click="updateZmsStockOut(stock)"><i class="pe-7s-config"></i></button>
	               <button type="button" title="{{'payment'|translate}}" class="btn btn-success btn-sm" ng-click="payZmsStockOut(stock)"><i class="pe-7s-cash"></i></button>
	              </div>
	               </td>
	            </tr>
	          </tbody>
	         </table>
	     </div>
	     <div class="panel-footer">
	      <a  class="btn btn-success " ng-click="showDetail=false;showSearch=true">{{'close'|translate}}</a>
	     
	     
	     </div>
	   </div>


</section>

<section ng-show="showPayment">
  
  
   <div class="hpanel ">
	     <div class="panel-heading hbuilt">
	      <h1>{{zmsProduct.productName}}</h1>
         </div>
         <div class="panel-body">
  				 <div ng-include="paymentDetailPage"></div>
		 </div>
		 <div class="panel-footer">
	     <a  class="btn btn-success" ng-click="showPayment=false;showDetail=true">{{'close'|translate}}</a>
	     </div>
	</div>
</section>

<section ng-show="showUpdate">
     
     <div class="container-small animated ">
         <div class="hpanel panel-group">
			<div class="panel-heading hbuilt">
				<div class="text-center text-muted font-bold ">
			    </div>
			</div>
			<div class="panel-section">
			<form class="form-horizontal">	
				      <div class="text-center">
					      <h1 class="text-primary2">{{user.userName+' '+user.userSurname}}</h1>
					    
					    </div>
					<hr>	
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsStatu'|translate}}*</label>
						<div class="col-sm-8">
							<select  class="form-control" 
								ng-model="zmsStockOut.sellStatu">
							 <option value="1">{{'preOrdered'|translate}}</option>
							 <option value="2">{{'ordered'|translate}}</option>
							 <option value="3">{{'sended'|translate}}</option>
							 <option value="4">{{'done'|translate}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsDate'|translate}}*</label>
						<div class="col-sm-8">
							<input type="date" class="form-control" ng-model="zmsStockOut.sellOutDate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsProductName'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="zmsStockOut.productId" >
							 <option value="0">{{'pleaseSelect'|translate}}</option>
							  <option value="{{zmzP.productId}}" ng-repeat="zmzP in zmsProducts ">{{zmzP.productName}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsSellPrice'|translate}}*</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="zmsStockOut.sellPrice">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsSellCount'|translate}}*</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="zmsStockOut.sellCount">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'comment'|translate}}*</label>
						<div class="col-sm-8">
							<textarea autocomplete="off"  class="form-control"
								ng-model="zmsStockOut.sellComment"></textarea>
						</div>
					</div>
					
					
				</form>
			</div>
		   <div class="panel-footer">
		   
		   <a  class="btn btn-warning" ng-click="showUpdate=false;showDetail=true">{{'close'|translate}}</a>
		   
		   <button type="button" class="btn btn-success pull-right"
								ng-click="createZmsStockOut()">{{'save'|translate}}</button>
		   </div>
		</div>
  </div>
</section>
</div>