<div class="row" ng-controller="ZmsStockOutController as perpc"
	ng-init="init()">

<section ng-show="productOut">
	<div class="container animated ">
	   <div class="hpanel ">
	     <div class="panel-heading hbuilt">
	      <div class="row">
	       <div class="col-sm-3">
	       <label class="label label-success">{{'stockOutCommentTitle'|translate}}</label>
	       </div>
	        <div class="col-sm-2">
	       <select
				class="form-control " ng-model="year"
				ng-options="y as y for y in years">
				<option ng-value="">{{'pleaseSelect'|translate}}</option>
			</select>
	       </div>
	        <div class="col-sm-7">
	       
	       <a class="btn btn-success pull-right" ng-click="addNewZmsStockOut()">
	          {{'addOrder'|translate}}
	       </a>
	       <a class="btn btn-warning pull-right" ng-click="findNoPaymentZmsStockOut()">
	          {{'shortChange'|translate}}
	       </a>
	      </div>
	       
	     </div>
	     </div>
	     <div class="panel-body">
	     
	         <table class="table table-striped">
	           <thead>
	           <tr>
	             <th>{{'zmsProductName'|translate}} </th>
	             <th>{{'stockInCount'|translate}} </th>
	             <th>{{'stockOutCount'|translate}} </th>
	             <th>{{'stockCount'|translate}} </th>
	             <th>{{'view'|translate}} </th>
	           </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="stock in zmsStocks">
	              <td>{{stock.zmsProduct.productName}}</td>
	              <td>{{(stock.stockInCount)+' '+(stock.zmsProduct.productUnit|translate)}}</td>
	              <td>{{(stock.stockOutCount)+' '+(stock.zmsProduct.productUnit|translate)}}</td>
	              <td>{{(stock.stockInCount-stock.stockOutCount)+' '+(stock.zmsProduct.productUnit|translate)}}</td>
	              <td><button type="button" class="btn btn-success btn-sm" ng-click="showStockOutDetails(stock)"><i class="pe-7s-look"></i></button> </td>
	            </tr>
	          </tbody>
	         </table>
	     </div>
	     <div class="panel-footer">
	      <label class="text text-primary2">{{'stockOutComment'|translate}}</label>
	     </div>
	   
	   </div>
	</div>

 
</section>

<section  ng-show="newStokOut">
     
     <div class="container-small  ">
         <div class="hpanel panel-group">
			
			<div class="panel-section" ng-show="!userDefined">
				<form class="form-horizontal">
					
					<div class="form-group">
					   
					     <label class="col-sm-4 text-right">{{'memberName'|translate}}*</label>
							<div class="col-sm-8">
							 <div class="input-group" >
	                          	<input type="text" ng-model="searchUsername" class="form-control"  ng-keypress="searchUser($event)"> 
	                            <span class="input-group-btn" > 
	                                <button type="button" class="btn btn-primary" ng-show="addUserReady" ng-click="addUser()">{{'addMember'|translate}}</button> 
	                                <button type="button" class="btn btn-default" ng-show="!addUserReady" ng-click="searchUserBy()">{{'search'|translate}}</button> 
	                            </span>
	                           </div>
                            </div>
                            
                            <div class="hpanel">
	                         <div class="hpanel-body">
		                         <table ng-show="userList.length>0" class="table table-condensed table-striped">
		                           <tr ng-repeat="user in userList" ng-mouseover="headerClass='label-warning'" ng-mouseout="headerClass=''">
		                             <td  ng-class="headerClass" ng-click="selectUser(user)">{{user.userName+' '+user.userSurname}}</td>
		                           </tr>
		                         </table>
	                         </div>
                   			</div>
                            
                            
                    </div>
				</form>	
			</div>
			<div class="panel-section" ng-show="userDefined">
			   
			
					
				<form class="form-horizontal">	
				    
				      <div class="text-center">
					      <h1 class="text-primary2">{{user.userName+' '+user.userSurname}}</h1>
					    
					    </div>
					<hr>	
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsStatu'|translate}}*</label>
						<div class="col-sm-8">
							<select  class="form-control" 
								ng-model="zmsStockOut.sellStatu">
							 <option value="1">{{'preOrdered'|translate}}</option>
							 <option value="2">{{'ordered'|translate}}</option>
							 <option value="3">{{'sended'|translate}}</option>
							 <option value="4">{{'done'|translate}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsDate'|translate}}*</label>
						<div class="col-sm-8">
							<input type="date" class="form-control" ng-model="zmsStockOut.sellOutDate">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsProductName'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="zmsStockOut.productId" >
							 <option value="0">{{'pleaseSelect'|translate}}</option>
							  <option value="{{zmzP.productId}}" ng-repeat="zmzP in zmsProducts ">{{zmzP.productName}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsSellPrice'|translate}}*</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="zmsStockOut.sellPrice">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'zmsSellCount'|translate}}*</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="zmsStockOut.sellCount">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 text-right">{{'comment'|translate}}*</label>
						<div class="col-sm-8">
							<textarea autocomplete="off"  class="form-control"
								ng-model="zmsStockOut.sellComment"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-4 col-md-8 col-md-offset-4">
							<button type="button" class="btn btn-success btn-block"
								ng-click="createZmsStockOut()">{{'save'|translate}}</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">
			<a  class="btn btn-success" ng-click="showStock()">{{'close'|translate}}</a>
			</div>
			
		</div>
  </div>
</section>

<section ng-show="showStockDetail">
  <a  class="pull-right" ng-click="showStock()"><i class="pe-7s-close fa-5x text-danger"></i></a>
  
  
  <div ng-include="stockDetailPage"></div>
</section>


</div>
