<div class="row " ng-controller="LeftPaymentController as lpc" ng-init="initLPC()">

		<div class="hpanel " ng-show="!paymentShow">
			
				
				<div class="panel-heading hbuilt">
                <div class="row">
                    <div class="col-md-8">
                        {{'shortChangeTile'|translate}}
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" ng-model="progName" class="form-control input-md" placeholder="{{'filter'|translate}}" >
								<span class="input-group-btn">
									<button class="btn btn-md btn-default" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
								</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			
			<div class="panel-body">
                 
				<table class="table table-bordered table-striped ">
					<thead>
						<th width="15%"  >{{'name'|translate}}</th>
						<th width="20%" class="hidden-xs">{{'progName'|translate}}</th>
						<th width="10%" class="text-center hidden-xs" >{{'salesDate'|translate}}</th>
						<th width="10%" class="hidden-xs" >{{'email'|translate}}</th>
						<th width="10%" class="text-center hidden-xs" >{{'phone'|translate}}</th>
						<th width="10%" class="text-center hidden-xs"  >{{'payAmount'|translate}}</th>
						<th width="10%" class="text-center hidden-xs" >{{'packetPrice'|translate}}</th>
						<th width="10%" class="text-center">{{'arrear'|translate}}</th>
						<th width="5%" class="text-center">{{'detail'|translate}}</th>
					</thead>
					<tbody>
						<tr ng-repeat="lpp in leftPacketPayment |filter:progName | orderBy:'salesDate'">
							<td>{{lpp.user.userName+" "+lpp.user.userSurname}}</td>
							<td class="hidden-xs">{{lpp.programFactory.progName}}</td>
							<td class="text-center hidden-xs">{{lpp.salesDate | date:dateFormat}}</td>
							<td class=" hidden-xs">{{lpp.user.userEmail}}</td>
							<td class=" hidden-xs">{{lpp.user.userGsm}}</td>
							<td class="text-center hidden-xs">{{(lpp.packetPaymentFactory.payAmount| currency :'':1 )+" "+ptCurrency}}</td>
							<td class="text-center hidden-xs">{{(lpp.packetPrice| currency :'':1 )+" "+ptCurrency}}</td>
							<td class="text-center">{{((lpp.packetPrice-lpp.packetPaymentFactory.payAmount)| currency :'':1 )+" "+ptCurrency}}</td>
							<td class="text-center"><a ng-click="editPayment(lpp)"><i class="pe-7s-config fa-2x text-success"></i> </a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

    <section ng-show="paymentShow">
     <div class="row">
			<i class="pe-7s-close fa-10x pull-right font-light" ng-click="leftPaymentDetail()" style="cursor: pointer;"></i>
		</div>
	<div class="col-lg-12 animated fadeInUp" ng-include="userPacketPaymentPage"></div>
	</section>
</div>